services:
    dropbot:
        container_name: dropbot-test
        env_file:
          - .env
        build:
          context: .
          dockerfile: ./Dockerfile_local
        tty: true
        restart: unless-stopped
        volumes:
          - ./downloads:/downloads